name: BarLoyalty CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-gateway:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'
        cache: 'maven'

    - name: Build with Maven
      working-directory: ./BarLoyalty
      run: mvn -B package --file pom.xml

  build-qr-service:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      working-directory: ./qr-service/qr-service
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt